API_PORT=5500
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/linguacraft
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me
DEEPSEEK_API_KEY='sk-6fd43d22207e4295abd01ed0bda63f2d'
DEEPSEEK_MODEL=deepseek-chat
